.collection-blade {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  text-align: center;
}

.item {
  margin: 4px;
}

.title {
  color: white;
  background-color: #ff4d4d;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.scrollView {
  overflow: auto;
  height: 30%;
  width: 100%;
  margin-top: 4%;
}

.action {
  border: solid;
}

#collection-search {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
}
