.noun-blade {
  height: 500px;
  padding: 0;
  border: 2px solid black;
  text-align: center;
}

.noun {
  margin: 4px;
}

.title {
  color: white;
  background-color: #80bfff;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
