.verb-blade {
  height: 500px;
  padding: 0;
  border: 2px solid black;
  text-align: center;
}

.verb {
  margin: 4px;
}

.title {
  color: white;
  background-color: #00ffbf;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
