<div class="dashboard">

  <!-- Used BootStrap's columns to create a 3 column layout -->
    <div id="dash" class="container-fluid">

      <!-- NOUN COLUMN -->
      <noun-blade>
      </noun-blade>

      <!-- COLLECTION COLUMN -->
      <collection-blade>
      </collection-blade>

      <!-- VERB COLUMN -->
      <verb-blade>
      </verb-blade>
    </div>

    <div id="ps-console" (click)="toggleConsole()">
      <img id="ps-icon" src="./app/img/psicon.png" style="height: 20px; width: 20px;"/>

    </div>



</div>
