<div class="detail-blade">

    <div class="" style="height: 70%; width: 100%; text-align: left; margin-top: 2%">

      <div id="details" class="content" style="color: black; overflow: auto; height: 100%;">

        <!-- META DATA -->
        <div id="information">
        </div>

        <div id="inputs">

          <!-- PARAMSET DROPDOWN -->
          <div *ngIf="allInputs.length > 1" class="dropdown">
              <a id="paramDropdown" data-toggle="dropdown" href="#">Other Paramsets</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li *ngFor="let input of paramSetNames; let i = index" (click)="setParamIdx(i)" style="text-align: center;">
                    <span style="background-image: none; background-color: transparent;"> <a class="hvr-fade" href="#"> {{input}} </a> </span>
                  </li>
              </ul>
          </div>

          <!-- TEXT INPUT -->
          <div class="detailInput" *ngFor="let input of inputs">
            <h4 style="padding-top: 5px;"> {{input}} </h4>
            <input type="text" class="form-control" placeholder="">

          </div>

          <br />

          <!-- SWITCH INPUT -->
          <div *ngFor="let switch of switches" style="font-size: 1.3em;">
            <span class="switchInput">
              <input type="checkbox" name="Switch" (click)="addSwitchParam(switch)"> {{switch}}
            </span>

            <br />
          </div>

        </div>

      </div>

      <!-- OUTPUT -->
      <div id="output" style="padding: 3%; overflow: auto; height: 90%; display: none;">
      </div>

    </div>

    <!-- PS ACTION BUTTONS -->
    <div *ngIf="detailArr.length >= 1" style="margin-top: 3%; color: #4685CC">
        <!-- <span *ngIf="outputShown == false && detailArr.length >= 2" class="hvr-fade detailButton" (click)="leftDetailChange()"> < </span> -->
        <span *ngIf="outputShown == false" class="hvr-fade detailButton" (click)="run()"> Run </span>
        <span *ngIf="outputShown == true" class="hvr-fade detailButton" (click)="exitOutput()"> Exit Output </span>
        <span *ngIf="outputShown == false" class="hvr-fade detailButton" (click)="previewCommand()"> PS Preview </span>
        <span *ngIf="outputShown == false" class="hvr-fade detailButton" (click)="copyToClipboard()"> Copy to Clipboard </span>
        <!-- <span *ngIf="outputShown == false && detailArr.length >= 2" class="hvr-fade detailButton" (click)="rightDetailChange()"> > </span> -->
    </div>


</div>
