<div class="noun-blade col-md-4 hvr-fade">

  <h3 class="title">
    Nouns
  </h3>

  <!-- BootStrap dropdown and action bar -->
  <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">All</a></li>
          <li><a href="#">Module A</a></li>
          <li><a href="#">Module B</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input id="noun-search" type="text" class="form-control" aria-label="..." placeholder="Search for..." (keyup)="search()">
    </div><!-- /input-group -->


  <!-- Scroll View for list of nouns created -->
  <div class="scrollView">
    <div *ngFor="let noun of nouns">
      <button class="hvr-grow hvr-bubble-right noun" (click)="setSelected(noun);">
        {{noun.name}}
      </button>

      <p class="c-paragraph">
testing testing testing

      </p>
    </div>
  </div> <!-- END SCROLLVIEW -->



</div>
