<div class="noun-blade">

  <!-- HEADER -->
  <div>
      <h2 class="paneHeader">Modules</h2>
  </div>

  <!-- SEARCHBOX -->
  <div id="search-div">
    <input id="noun-search" type="text" class="form-control" aria-label="..." placeholder="Search for..." (keyup)="search()">
  </div>


  <!-- Scroll View for list of nouns created -->
  <div class="scrollView" *ngIf="nouns">

    <div *ngFor="let module of modules" class="module">
      <span style="cursor: pointer;" (click)="toggleModule(module.name)">
        <span id="{{module.name}}-click" class="glyphicon glyphicon-triangle-right"> </span> {{module.name}}
      </span>

      <div id="{{module.name}}-nouns" style="display: none; text-align: center;">
        <div *ngFor="let noun of module.nouns">
          <button class="hvr-grow noun" (click)="setSelected(noun);">
            {{noun.name}}
          </button>
        </div>
      </div>

    </div>
  </div>


  <!-- LOADING IMAGE -->
  <div *ngIf="!nouns" style="margin-top: 50%; margin-left: 15%" class="c-progress f-indeterminate-regional" role="progressbar" aria-valuetext="Loading..." tabindex="0">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>


</div>
