<div class="collection-blade col-md-4 hvr-fade">

  <h3 class="title">
    Collection
  </h3>

  <div class="col-md-2"></div>

  <div class="container-fluid">
    <div *ngFor="let action of actions" class="col-md-3 hvr-grow action">
      <img src="http://placehold.it/50x50">
      <div>
          {{action}}
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>

  <h4 style="margin-top: 10%;">Select from the list:</h4>

  <div class="scrollView">
    <div *ngFor="let item of items">
      <button class="hvr-grow item" (click)="setSelected(item)">
        {{item}}
      </button>
    </div>
  </div>



</div>
