<div class="noun-blade col-md-3 hvr-fade">

  <h3 class="title">
    Nouns
  </h3>

  <div class="input-group search">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-primary hvr-shrink" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->

  or

  <div class="input-group search">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="...">
    </span>
    <input type="text" class="form-control" aria-label="..." value="Constrain by Module">
  </div><!-- /input-group -->


  <div class="scrollView">
    <div *ngFor="let noun of nouns">
      <button class="hvr-grow noun">
        {{noun.name}}
      </button>
    </div>
  </div>



</div>
