<div class="noun-blade col-md-4 hvr-fade">

  <h3 class="title">
    Nouns
  </h3>

  <div class="input-group search">
    <input id="noun-search" type="text" class="form-control" placeholder="Search for..." (keyup)="search()">
    <span class="input-group-btn">
      <button class="btn btn-primary hvr-shrink" type="button" (click)="search()">Go!</button>
    </span>
  </div><!-- /input-group -->

  or

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>


  <div class="scrollView">
    <div *ngFor="let noun of nouns">
      <button class="hvr-grow hvr-bubble-right noun">
        {{noun.name}}
      </button>
    </div>
  </div>



</div>
