<div class="verb-blade col-md-4">

<div class="hvr-fade" style="height: 30%; width: 100%;">
  <h3 class="title">
    Verbs
  </h3>

  <div class="container-fluid">
    <div *ngFor="let verb of verbs" class="col-md-3 hvr-grow verb">
      <img src="http://placehold.it/50x50">
      <div>
          {{verb}}
      </div>
    </div>
  </div>

</div>

<div class="hvr-fade" style="height: 70%; width: 100%; text-align: left;">
  <h3 class="title" style="background-color: #e6e600; text-align: center">
    Details
  </h3>


  <div class="content" style="margin-left: 5%;">
    <h3>
      Name:
    </h3>

    <input />

    <h3>
      DisplayName:
    </h3>

    <input />

    <h3>
      Status:
    </h3>

    <input />

    <h3>
      DependentServices:
    </h3>

    <input />

    <h3>
      ServicesDependedOn:
    </h3>

    <input />

    <h3>
      CanPauseAndContinue:
    </h3>

    <input />

  </div>

</div>


</div>
