<div class="verb-blade col-md-4">

<div class="hvr-fade" style="height: 30%;">
  <h3 class="title">
    Verbs
  </h3>

  <div class="container-fluid">
    <div *ngFor="let verb of verbs" class="col-md-3 hvr-grow verb">
      <img src="http://placehold.it/50x50">
      <div>
          {{verb}}
      </div>
    </div>
  </div>

</div>

<div class="hvr-fade" style="height: 70%;">
  <h3 class="title" style="background-color: #e6e600;">
    Details
  </h3>


  <div>
    <div *ngFor="let verb of verbs" class="hvr-grow">
      <input />
    </div>
  </div>


</div>


</div>
