<div class="verb-blade col-md-4">

<div class="hvr-fade" style="height: 30%; width: 100%;">

  <!-- VERB ROW -->
  <h3 class="title">
    Verbs
  </h3>

  <!-- List of Verbs. Can make it scrollview later -->
  <div class="container-fluid">
    <div *ngFor="let verb of verbs" class="col-md-3 hvr-grow verb">
      <img src="http://placehold.it/50x50">
      <div>
          {{verb}}
      </div>
    </div>
  </div> <!-- END LIST OF VERBS -->
</div> <!-- END VERB ROW -->

<!-- DETAIL ROW -->
<div class="hvr-fade" style="height: 70%; width: 100%; text-align: left;">
  <h3 class="title" style="background-color: #e6e600; text-align: center">
    Details
  </h3>


  <!-- List of details. Will need to make it a ScrollView later -->
  <div class="content" style="margin-left: 8%; margin-top: 5%; color: black;">
    <div *ngFor="let detail of details" style="margin-bottom: 4%;">
      <h4>
        {{detail}}
      </h4>

      <h6 style="margin-left: 3%;">
        &lt; metadata &gt;
      </h6>
    </div>

    <!-- JUST A DEMO -->
    <div style="margin-top: 45%; text-align: center;">
      <button class="btn btn-primary">
        Run
      </button>

      <button class="btn btn-primary" style="margin-left: 5%; margin-right: 4%">
        Whatif
      </button>

      <button class="btn btn-primary">
        View Script
      </button>

    </div> <!-- END OF DEMO -->


  </div> <!-- END LIST OF DETAILS -->
</div> <!-- END DETAIL ROW -->


</div>
