.noun-blade {
  height: 100%;
  padding: 0;
  border: 2px solid #D9D9D9;
  text-align: center;
}

.noun {
  margin: 4px;
  width: 80%;
  background-color: #464646;
  color: white;
  font-size: 1.15em;
}

.title {
  color: white;
  background-color: #0078D7;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search {
  margin-left: 30px;
  margin-right: 30px;
}

.scrollView {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  width: 100%;
  margin-top: 12%;
}

#module-dropdown {
  background-image: none;
  background-color: #0078D7;
  color: white;
  margin: 0;
  width: 100%;
}

.listnoun {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: white;
}

.listnoun:hover {
  -webkit-transition: background-color 100ms ease-out 0.05s;
  -moz-transition: background-color 100ms ease-out 0.05s;
  -o-transition: background-color 100ms ease-out 0.05s;
  transition: background-color 100ms ease-out 0.05s;

  background-color: #CAE0F5;

}

#noun-search {
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}
