.select {
  color: grey;
  margin: 0;
  padding-top: 20px;
}

.collection-blade {
  height: 100%;
  padding: 0;
  /*
  background-color: #4D6684;
  border: 2px solid #4D6684;
  */
  text-align: center;
}

.item {
  margin: 4px;
  background-color: white;
  cursor: pointer
}

.item:hover {
  -webkit-transition: background-color 100ms ease-out 0.05s;
  -moz-transition: background-color 100ms ease-out 0.05s;
  -o-transition: background-color 100ms ease-out 0.05s;
  transition: background-color 100ms ease-out 0.05s;

  background-color: #CAE0F5;

}

.title {
  color: white;
  background-color: #E81123;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.scrollView {
  overflow: auto;
  height: 70%;
  width: 100%;
  margin-top: 4%;
}

@media (min-height: 820px) {
  .scrollView {
    overflow: auto;
    height: 80%;
    width: 100%;
    margin-top: 4%;
  }

}


.action {
  /* border: solid; */
  margin-top: 2%;
  cursor: pointer;
}

#collection-search {
  text-align: center;
  width: 100%;
  margin-top: 4%;
}
