.collection-blade {
  height: 75.5%;
  padding: 0;
  border: 2px solid #D9D9D9;
  text-align: center;
}

.item {
  margin: 4px;
  background-color: #F0F4FA;
  color: #327EC8;
}

.title {
  color: white;
  background-color: #E81123;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.scrollView {
  overflow: auto;
  height: 47%;
  width: 100%;
  margin-top: 4%;
}

.action {
  /* border: solid; */
  margin-top: 2%;
  cursor: pointer;
}

#collection-search {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
}
