[class*='col-'] {
  float: left;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}
h4 {
  position: relative;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
}
@media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
}

#dash {
  text-align: center;
  padding: 0;
  height: 97.5%;
}

.dashboard {
  text-align: center;
  margin: 0;
}

#ps-console {
  cursor: pointer;
  height: 2.5%;
  background-color: #315D88;
  text-align: left;
}

.expanded {
  height: 10%;
  background-color: #0078D7;
  color: white;
}

.verb {
  border: solid thin #4685CC;
  margin: 0.5%;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  display: inline;
}
