.detail-blade {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  text-align: center;
}

.verb {
  /* border: solid; */
  margin-top: 2%;
}

.title {
  color: white;
  background-color: #107C10;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
