.noun-blade {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  text-align: center;
}

.noun {
  margin: 4px;
  width: 40%;

}

.title {
  color: white;
  background-color: #0078D7;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search {
  margin-left: 30px;
  margin-right: 30px;
}

.scrollView {
  overflow: auto;
  height: 60%;
  width: 100%;
  margin-top: 12%;
}

#module-dropdown {
  background-image: none;
  background-color: #EEEEEE;    
}